::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #2C3F50; /* Color of the track */
}

::-webkit-scrollbar-thumb {
  background-color: #59EBCB;
  /*Colorofthethumb*/border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffffff; /* Color of the thumb on hover */
}